
/*mobile res for header*/
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .page-header .job-title h1 {
        text-align: center;
        font-size: 34px;
    }
    .page-header .avatar-img img {
        width: 29rem;
    }
}
@media screen and (min-width: 880px) and (max-width: 1000px) {
    .page-header .job-title h1 {
        text-align: center;
        font-size: 32px;
    }
    .page-header .avatar-img img {
        width: 24rem;
    }
}
@media screen and (min-width: 780px) and (max-width: 880px) {
    .page-header .job-title h1 {
        text-align: center;
        font-size: 32px;
    }
    .page-header .avatar-img img {
        width: 21rem;
    }
}
@media screen and (min-width: 650px) and (max-width: 780px) {
    .page-header .job-title h1 {
        text-align: center;
        font-size: 30px;
    }
    .page-header .avatar-img img {
        width: 19rem;
    }
}
@media screen and (min-width: 620px) and (max-width: 650px) {
    .page-header .job-title h1 {
        text-align: center;
        font-size: 28px;
    }
    .page-header .avatar-img img {
        width: 18rem;
    }
}
@media screen and (min-width: 573px) and (max-width: 619px) {
    .page-header .job-title h1 {
        text-align: center;
        font-size: 26px;
    }
    .page-header .avatar-img img {
        width: 16rem;
    }
}
@media screen and (max-width: 572px) {
    .page-header .job-title h1 {
        text-align: center;
        font-size: 28px;
    }
    .page-header .avatar-img img {
        width: 22rem;
    }
}
@media screen and (max-width: 460px) {
    .page-header .avatar-img img {
        width: 20rem;
    }
}
@media screen and (max-width: 400px) {
    .page-header .avatar-img img {
        width: 17rem;
    }
}
@media screen and (max-width: 345px) {
    .page-header .avatar-img img {
        width: 15rem;
    }
}
@media screen and (max-width: 290px) {
    .page-header .avatar-img img {
        width: 13rem;
    }
}
@media screen and (max-width: 260px) {
    .page-header .avatar-img img {
        width: 11rem;
    }
}
